body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-columns: repeat(9, 1fr) ;
    grid-template-rows: repeat(9, 1fr) ;
    display: grid;  
    z-index: -1;
}

header {
    grid-column: span 9;
    grid-row: span 1;
    background-color: red;
    margin: 0;
}

.theme {
    display: grid;
    grid-column: span 1;
    background-color: brown;
    /* background-image: url(../img/);
    background-size: cover;
    background-repeat: no-repeat; */
}

main {
    display: grid;
    grid-column: span 9;
    grid-row: span 7;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.inlagg {
    display: grid;
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    grid-template-columns: repeat(9, 1fr) ;
    grid-template-rows: repeat(9, 1fr) ;
    background-color: rgb(180, 175, 175);
    margin: 0;
}

.inlagg > article {
    grid-column: 3 / 8;
    grid-row: 5 / 8;
}

article > h1 {
    text-align: center;
}

.inlagg > img {
    display: block;
    grid-column: 3 / 8 ;
    grid-row: 2 / 5 ;
    /* vertical-align: middle; */
    margin-left: auto;
    margin-right: auto;  
}

body {
    overflow-x:hidden;
}

.postor {
    grid-column: span 9;
    grid-row: span 9;
}

/* .postor > h1 { */
/* } */

